
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<img src='images/logo.png' width='100'/>
  </div>
</div>
<div class="container">
  <h1><%= title %></h1>
	<br/>
<h2>Wildfires</h2>
	<a href='/fires'><img src='/images/wildfires.jpeg' width='150' /></a>
	<br/>
<h2>Floods</h2>
	<a href='/floods'><img src='/images/floods.jpeg' width='150' /></a>
	<br/>
<h2>Precipitation</h2>
	<a href='/precipitation'><img src='/images/precipitation.jpeg' width='150' /></a>
	<br/>
<h2>Landslides</h2>
	<a href='/landslides'><img src='/images/landslides.jpeg' width='150' /></a>
	<br/>
<h2>EarthQuakes</h2>
	<a href='/quakes'><img src='/images/quakes.jpeg' width='150' /></a>
	<br/>

</div>